.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  flex-grow: 1;
  display: flex;
}

.navbar {
  width: 200px;
  background-color: #eaeaea;
  padding: 20px;
}

.content {
  flex-grow: 2;
  padding: 20px;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
}
